:root {
    /* color palette */
    --secondary: #ffc0d3;
    --primary: #ff5c8d;
    --light: #fdeff4;
    --dark: #524a4e;

    /* font sizes */
    --xsmall: 12px;
    --small: 16px;
    --medium: 20px;
    --large: 24px;
    --xlarge: 28px;
}

body {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-color: #ffc0d3;
    background-image: linear-gradient(90deg, #ffc0d3 0%, #ff5c8d 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main box that contains title, app description, etc. */
.main-box {
    background-color: var(--light);
    height: 60%;
    width: 40%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    filter: drop-shadow(0px 0px 10px #524a4e3a);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Profitify */
.title-font {
    color: var(--primary);
    font-size: 80px;
    line-height: 70%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
}

.description {
    font-family: 'Inter', sans-serif;
    font-size: var(--small);
    text-align: center;
}

.white {
    color: white;
}

/* Sign up and sign in buttons grouped */
#signin-signup {
    text-align: center;
}

/* Class btn for sign up and sign in buttons */
.btn {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    height: 40px;
    font-size: var(--medium);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5pt;
    border-radius: 20px;
    display: inline-block;
    box-shadow: none;
    border: 1px solid;
}

.btn:hover {
    cursor: pointer;
}

.fill {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--light);
}

.outline {
    background-color: var(--light);
    border-color: var(--dark);
    color: var(--dark);
}

.fill:hover {
    border-color: #ff5c8d;
    color: #ff5c8d;
    background-color: var(--light);
}

.outline:hover {
    background-color: #524A4E;
    color: var(--light);
    border-color: #524A4E;
}

.overlay {
    width: 350px;
    height: 460px;
    border-radius: 18px;
    background-color: white;
    padding: 40px;
    position: absolute;
    display: none;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px #6b6e70;
}

.close {
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: var(--small);
    border: none;
    border-radius: 3px;
    background-color: transparent;
    float: right;
}

.close:hover {
    background-color: var(--light);
    cursor: pointer;
}

.form-title {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    line-height: 80%;
    font-size: var(--xlarge);
    color: var(--primary);
    margin-top: 40px;
}

.input-box {
    border: 0.05px solid #524a4e63;
    border-radius: 4px;
    width: 100%;
    height: 35px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info {
    float: right;
    border: none;
    font-family: 'Inter', sans-serif;
    width: 92%;
    font-size: var(--small);
    height: 80%;
    color: #222629;
    transition: ease-out 0.1s;
}

.user-info:focus {
    outline: none;
    transform: translate(-2px)
}

.submit {
    border: 0.1px solid var(--primary);
    color: var(--primary);
    background-color: transparent;
    border-radius: 4px;
    width: 100%;
    height: 35px;
    font-size: var(--small);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5pt;
}

.submit:hover {
    background-color: var(--primary);
    color: white;
    border-color: var(--primary);
}

.small-text {
    font-size: var(--xsmall);
    font-family: 'Inter', sans-serif;
    color: #222629;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 20px;
}

ion-icon {
    color: var(--dark);
    float: left;
    size: 110%;
    margin-right: 10px;
    margin-left: 8px;
}

a {
    text-align: center;
}

/* Animations */
a:link {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    text-decoration: underline;
    color: #524A4E;
}

.error-container {
    background-color: pink;
    color: red;
    border: 1px solid red;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    display:  none;
}