:root {
    /* color palette */
    --secondary: #ffc0d3;
    --primary: #ff5c8d;
    --light: #fdeff4;
    --dark: #524a4e;

    /* font sizes */
    --xsmall: 12px;
    --small: 16px;
    --medium: 20px;
    --large: 24px;
    --xlarge: 28px;

    --default-font: 'Inter', sans-serif;
}

#index {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-color: #ffc0d3;
    background-image: linear-gradient(90deg, #ffc0d3 0%, #ff5c8d 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#base {
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Main box that contains title, app description, etc. */
.main-box {
    background-color: var(--light);
    height: 60%;
    width: 40%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    filter: drop-shadow(0px 0px 10px #524a4e3a);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FONTS */

/* Profitify */
.title-font {
    color: var(--primary);
    font-size: 80px;
    line-height: 70%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
}
/* Profitify */
.description {
    font-family: 'Inter', sans-serif;
    font-size: var(--small);
    text-align: center;
}

.default-font {
    font-family: var(--default-font);
}

.xsmall-font {
    font-size: var(--xsmall);
}

.small-font {
    font-size: var(--small);
}

.medium-font {
    font-size: var(--medium);
}

.large-font {
    font-size: var(--large);
}

.xlarge-font {
    font-size: var(--xlarge);
}

.light-font {
    color: var(--light);
}

.dark-font {
    color: var(--dark);
}

.white {
    color: white;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 800;
}

.regular {
    font-weight: 400;
}


/* Sign up and sign in buttons grouped */
#signin-signup {
    text-align: center;
}

/* Buttons */

.medium-btn {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    box-shadow: none;
    border: 1px solid;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: var(--medium);
}

.small-btn {
    width: fit-content;
    height: fit-content;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: var(--xsmall);
    border: 0.1px solid;
    border-radius: 4px;
    border: 0.1px solid;
    padding: 4px;
    text-transform: uppercase;
}

.dynamic-btn {
    border: 0.1px solid;
    border-radius: 4px;
    width: 100%;
    height: 35px;
    font-size: var(--small);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.submit {
    border-color: var(--primary);
    color: var(--primary);
    background-color: transparent;
}

.submit:hover {
    background-color: var(--primary);
    color: white;
    border-color: var(--primary);
}

.btn {
    transition: 0.5s;
}

.btn:hover {
    cursor: pointer;
}

.fill {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--light);
}

.fill:hover {
    border-color: #ff5c8d;
    color: #ff5c8d;
    background-color: var(--light);
}

.outline {
    background-color: var(--light);
    border-color: var(--dark);
    color: var(--dark);
}

.outline:hover {
    background-color: var(--dark);
    color: var(--light);
    border-color: var(--dark);
}


/* Forms and Overlays */

.form-size {
    width: 350px;
    height: 460px;
    background-color: white;
}

.form-title {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    line-height: 80%;
    font-size: var(--xlarge);
    color: var(--primary);
    margin-top: 40px;
}

.form-icon {
    color: var(--dark);
    float: left;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 8px;
}

.input-box {
    border: 0.05px solid #524a4e63;
    border-radius: 4px;
    width: 100%;
    height: 35px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box:focus-within {
    border: 0.05px solid var(--primary);
}

.user-info {
    float: right;
    border: none;
    font-family: 'Inter', sans-serif;
    width: 92%;
    font-size: 14px;
    height: 80%;
    color: #222629;
    transition: ease-out 0.1s;
}

.user-info:focus {
    outline: none;
    transform: translate(-2px)
}

/* Please generalize .import (by changing name). I used this class in other overlays as well*/

.import-size {
    width: 50%;
    height: 50%;
    background-color: white;
}

.import-inner {
    position: relative;
}

.overlay {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 0px 0px 10px #6b6e70;
    border-radius: 18px;
    box-sizing: border-box;
    border: 30px solid transparent;
}

.close {
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: var(--small);
    border: none;
    border-radius: 3px;
    background-color: transparent;
    float: right;
}

.close:hover {
    background-color: var(--light);
    cursor: pointer;
}


/* Text styles */

.text {
    font-family: 'Inter', sans-serif;
    display: block;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.centered-text {
    text-align: center;
    align-items: center;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.small-text {
    font-size: var(--xsmall);
    font-family: 'Inter', sans-serif;
    text-align: center;
}

/* General links */

a {
    text-align: center;
}

a:link {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    text-decoration: underline;
    color: #524A4E;
}

/* Navigation Bar */

.nav-bar {
    background-color: white;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 70px;
	color: var(--primary);
    display: block;
    z-index: 5;
    filter: drop-shadow(0px 0px 5px #524a4e3a);
}

.nav-bar-inner {
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 10px;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    object-fit: fill;
}

.nav-app-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: var(--large);
    user-select: none;
}

.nav-icon {
    color: var(--primary);
    width: 22px;
    height: 22px;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 10px;
    margin-left: 8px;
    display: inline-block;
    user-select: none;
}

.nav-icon:hover {
    background-color: var(--light);
}

/* Main container - contains sidebar and page-content*/

.main-container {
	left: 0px;
	top: 50px;
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
}

/* Sidebar */

.sidebar {
	left: 0%;
	position: fixed;
    width: 20%;
	height: 100%;
	transition: all .2s linear;
	overflow-y: auto;
    display: flex;
    justify-content: center;
}

.sidebar-inner {
    position: relative;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.sidebar-tab {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.sidebar-tab:hover {
    background-color: var(--light);
}

.sidebar-icon {
    color: var(--dark);
    font-size: var(--medium);
    margin-right: 15px;
    margin-left: 15px;
}

.account-info {
    display: inline-block;
    text-align: left;
    font-family: 'Inter', sans-serif;
    width: 80%;
    color: var(--dark);
}

.profile {
    width: 100%;
    height: 70px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 8px;
}

.profile:hover {
    background-color: var(--light);
}

.profile-photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.page-name {
    color: var(--dark);
    font-family: 'Inter', sans-serif;
    display: inline;
    width: 90%;
    text-align: left;
}

.page-link {
    transition: 0.5s;
}

.page-link:hover {
    text-decoration: none;
}


/* Page content */

.page-title {
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: 700;
    margin-left: 25px;
    color: var(--dark);
}


.page-content {
    position: relative;
    float: right;
    width: 80%;
    height: 100%;
    transition: all .2s linear;
}


/* Positions (note: parent container's position must be relative)*/
.top {
    position: absolute;
    top: 3%;
}

.bottom {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
}

.left {
    position: absolute;
    left: 3%;
}

.right {
    position: absolute;
    right: 3%;
}

/* Element sizes */
.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.wide-width {
    width: 80%;
}

.half-width {
    width: 50%;
}

.half-height {
    height: 50%;
}


.input-width {
    width: 30%;
}

.btn-width {
    width: 140px;
}

/* prompts */
.prompt {
    display: none;
    text-align: center;
    border-radius: 5px;
    color: var(--dark);
    font-size: var(--xsmall);
    font-family: var(--default-font);
}

.success {
    background-color: #DFF9FB;
}

.error {
    background-color: var(--light);
}



/* Import data overlay and tables */

.card-container {
    display: flex;
    width: 100%;
    height: 68%;
    margin-bottom: 10px;
    justify-content: space-between;
}

.card {
    width: 23%;
    cursor: pointer;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: var(--primary);
    margin: 4px;
    border: 0.5px solid var(--primary);
    border-radius: 4px;
    transition: 0.5s;
}

.card:hover {
    background-color: var(--primary);
    color: var(--light);
    border-color: var(--primary);
}

.card-container .card .face{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.card-container .card .face{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-icon {
    font-size: 40px;
    margin-bottom: 8px;
}

.upload-btn {
    border: 0.1px solid;
    border-radius: 4px;
    width: 100%;
    height: 24px;
    font-size: var(--xsmall);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

/* Page content table */

.data-table {
    border-collapse: collapse;
    font-family: 'Inter', sans-serif;
    text-align: left;
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}

.hidden {
    display: none;
}

.record-id {
    font-weight: 700;
    width: 50px;
}

.record-icon {
    font-size: var(--small);
    border-radius: 4px;
    color: var(--dark);
    margin-right: 5px;
    margin-left: 5px;
}

th {
    color: var(--dark);
    font-size: var(--small);
    text-align: left;
}

tr {
    height: 40px;
}

tr:nth-child(even) {
    background-color: #524a4e0c;
}

tr:not(th) {
    font-weight: 400;
    font-size: var(--xsmall);
}

td:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

td:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Table column widths */
.product-col1 {
    width: 50px;
}