<!DOCTYPE html>
<html>

<head>
    {% block title %}<title></title>{% endblock %}

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href ="{% static 'img/logo-01.png' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body id="base">

    <div class="import overlay" id="import-overlay">
        {% block import %}
        <button class="close" id="close-import"><b>&#10005</b></button>
        <div class="error-container" id="file-extension-error">Inventory database in csv file format</div>
        <form action=/dashboard/ method="POST" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
            <label for="name" >File: </label>
            <div>
            <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
            </div>                   
            </div>
            <div class="form-group">                   
            <div>
            <input type="submit" class="dark-btn btn-font btn left" value="Upload" name="import-inv-btn" ></div>
            </div>
        </form>    
        <div class="error-container" id="file-extension-error1">Products database must be in csv format</div>
        <form action=/dashboard/ method="POST" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
            <label for="name" >File: </label>
            <div>
            <input type="file" name="products_file" id="products_file" required="True" class="form-control">
            </div>                   
            </div>
            <div class="form-group">                   
            <div>
            <input type="submit" class="dark-btn btn-font btn left" value="Upload" name="import-prod-btn" ></div>
            </div>
            </div>
            </form>
        {% endblock %}
    </div>

    <div class="nav-bar">
        <div class="nav-bar-inner">
            {% block nav-bar %}
                <ion-icon class="nav-icon btn" id="toggle-sidebar-btn" name="menu"></ion-icon>
                <img class="logo" src="{% static 'img/logo-01.png' %}">
                <div class="nav-app-name">
                    Profitify
                </div>
                <div class="form-container">
                <button class="fill dynamic-btn btn" id="open-import">
                    Import Data
                </button>
                </div>
                <div class="form-container">
                    <form method="POST" action="/signout/">
                        {% csrf_token %}
                        <input type="submit" class="fill dynamic-btn btn" value="Sign out" name="signout-btn" >
                    </form>
                </div>
            {% endblock %}
        </div>
    </div>

        <div class="main-container">
            <div class="sidebar" id="sidebar-container">
                <div class="sidebar-inner">
                    {% block sidebar %}
                        <br>
                        <a class="page-link" href="/dashboard/profile/">
                            <div class="profile" id="go-to-profile-btn">
                                <img class="profile-photo" src="{% static 'img/pic.jpg' %}">
                                <div class="account-info">
                                    <div class="small-font bold">{{ full_name|safe }}</div>
                                    <div class="xsmall-font regular">{{ username|safe }} &#8226 {{ business_name|safe }}</div>                                </div>
                            </div>
                        </a>
                        <a class="page-link btn" href="/dashboard/">
                            <div class="sidebar-tab" id="go-to-dashboard-btn">
                                <ion-icon class="sidebar-icon" name="grid"></ion-icon>
                                <div class="page-name small-font">Dashboard</div>
                            </div>
                        </a>
                        <a class="page-link btn" href="/dashboard/products/">
                            <div class="sidebar-tab" id="go-to-products-btn">
                                <ion-icon class="sidebar-icon" name="pricetag"></ion-icon>
                                <div class="page-name small-font">Products</div>
                            </div>
                        </a>
                        <a class="page-link btn" href="/dashboard/inventory/">
                            <div class="sidebar-tab" id="go-to-inventory-btn">
                                <ion-icon class="sidebar-icon" name="briefcase"></ion-icon>
                                <div class="page-name small-font">Inventory</div>
                            </div>
                        </a>
                        <a class="page-link btn" href="/dashboard/sales/">
                            <div class="sidebar-tab" id="go-to-sales-btn">
                                <ion-icon class="sidebar-icon" name="wallet"></ion-icon>
                                <div class="page-name small-font">Sales</div>
                            </div>
                        </a>
                        <a class="page-link btn" href="/dashboard/production/">
                            <div class="sidebar-tab" id="go-to-production-btn">
                                <ion-icon class="sidebar-icon" name="fast-food"></ion-icon> 
                                <div class="page-name small-font">Production</div>
                            </div>
                        </a>
                        <a class="page-link btn" href="/dashboard/profit-tracker/">
                            <div class="sidebar-tab" id="go-to-profit-tracker-btn">
                                <ion-icon class="sidebar-icon" name="bar-chart"></ion-icon>
                                <div class="page-name small-font">Profit Tracker</div>
                            </div>
                        </a>
                        <button class="fill dynamic-btn btn">Optimize Profit</button>
                    {% endblock %}
                </div>
            </div>
             <div class="page-content" id="page-content-container">
                {% block page-content %}{% endblock %}
            </div>
        </div>


    

    <script type="text/javascript">
        var page = "{{ page|safe }}";
        var prompt = "{{ prompt|safe }}";
    </script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>