<!DOCTYPE html>
<html>

<head>
    {% block title %}<title></title>{% endblock %}

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href ="{% static 'img/logo-01.png' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body id="base">
    <div class="import-size overlay" id="import-overlay">
        <div class="import-inner full-width full-height centered-text">
            <button class="close x" id="close-import"><b>&#10005</b></button>
            <div class="card-container">

                <div class="card" id="products-file">
                    <div class="face">
                        <div class="card-content">
                            <ion-icon class="card-icon" name="pricetag"></ion-icon>
                            <div class="extra-bold">Products</div>
                            <p class="xsmall-font regular">The Products table (must be csv file). </p>
                        </div>
                    </div>
                </div>

                <div class="card" id="inventory-file">
                    <div class="face">
                        <div class="card-content">
                            <ion-icon class="card-icon" name="briefcase"></ion-icon>
                            <div class="extra-bold">Inventory</div>
                            <p class="xsmall-font regular">The Inventory table (must be csv file). </p>
                        </div>
                    </div>
                </div>

                <div class="card" id="sales-file">
                    <div class="face">
                        <div class="card-content">
                            <ion-icon class="card-icon" name="wallet"></ion-icon>
                            <div class="extra-bold">Sales</div>
                            <p class="xsmall-font regular">The Sales table (must be csv file). </p>
                        </div>
                    </div>
                </div>

                <div class="card" id="production-file">
                    <div class="face">
                        <div class="card-content">
                            <ion-icon class="card-icon" name="fast-food"></ion-icon>
                            <div class="extra-bold">Production</div>
                            <p class="xsmall-font regular">The Production table (must be csv file). </p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <form action=/dashboard/ method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="products-table" class="hidden" id="products-file-container">
                    <input type="file" name="inventory-table" class="hidden" id="inventory-file-container">
                    <input type="file" name="sales-table" class="hidden" id="sales-file-container">
                    <input type="file" name="production-data" class="hidden" id="production-file-container">
                    <input type="submit" class="btn-width fill dynamic-btn btn" value="Upload File" name="import-data">
                </form>
            </div>
        </div>
    </div>

    <div class="optimize-size overlay" id="optimize-overlay">
        <button class="close x" id="close-import"><b>&#10005</b></button>
        <div class="form-title">
            Profit Optimizer
        </div>
        <div class="left-text small-font dark-font" id="profit-optimizer-status">
        </div>
        <div class="left-text small-font dark-font" id="optimal-profit">
        </div>
        <div class="table-container">
            <table class="data-table" id="optimizer-result-table">
                <tr class="data-table-row">
                    <th class="record-name data-table-header"> Product </th> 
                    <th class="record-price data-table-header"> Quantity </th> 
                </tr>
            </table>
        </div>
        <div>
            <form action="/dashboard/profit-optimizer/" method="POST">
                {% csrf_token %}
                <input type="text" name="optimizer-result" class="hidden" id="optimizer-result-container">
                <input type="submit" class="fill dynamic-btn btn" value="ADD TO PRODUCTION TABLE" name="add-to-production-table-btn">
            </form>
        </div>
    </div>

    <div class="nav-bar">
        <div class="nav-bar-inner">
            {% block nav-bar %}
                <ion-icon class="nav-icon btn" id="toggle-sidebar-btn" name="menu"></ion-icon>

                <img class="logo" src="{% static 'img/logo-01.png' %}">
                <div class="nav-app-name">
                    Profitify
                </div>

                <div class="btn-width right">
                    <form method="POST" action="/signout/">
                        {% csrf_token %}
                        <input type="submit" class="fill dynamic-btn btn" value="Sign out" name="signout-btn" >
                    </form>
                </div>
            {% endblock %}
        </div>
        <div></div>
    </div>

    <div class="main-container">
        <div class="sidebar" id="sidebar-container">
            <div class="sidebar-inner">
                {% block sidebar %}
                    <br>
                    <a class="page-link" href="/dashboard/profile/">
                        <div class="profile" id="go-to-profile-btn">
                            <img class="profile-photo" src="{% static 'img/pic.jpg' %}">
                            <div class="account-info">
                                <div class="small-font bold">{{ full_name|safe }}</div>    <!-- &#8226 -->
                                <div class="xsmall-font regular">{{ username|safe }}</div>  
                                <div class="xsmall-font regular">{{ business_name|safe }}</div>
                            </div>
                        </div>
                    </a>
                    <button class="fill dynamic-btn btn" id="open-import">
                        Import Data
                    </button>
                    <a class="page-link btn" href="/dashboard/">
                        <div class="sidebar-tab" id="go-to-dashboard-btn">
                            <ion-icon class="sidebar-icon" name="grid"></ion-icon>
                            <div class="page-name small-font">Dashboard</div>
                        </div>
                    </a>
                    <a class="page-link btn" href="/dashboard/products/">
                        <div class="sidebar-tab" id="go-to-products-btn">
                            <ion-icon class="sidebar-icon" name="pricetag"></ion-icon>
                            <div class="page-name small-font">Products</div>
                        </div>
                    </a>
                    <a class="page-link btn" href="/dashboard/inventory/">
                        <div class="sidebar-tab" id="go-to-inventory-btn">
                            <ion-icon class="sidebar-icon" name="briefcase"></ion-icon>
                            <div class="page-name small-font">Inventory</div>
                        </div>
                    </a>
                    <a class="page-link btn" href="/dashboard/sales/">
                        <div class="sidebar-tab" id="go-to-sales-btn">
                            <ion-icon class="sidebar-icon" name="wallet"></ion-icon>
                            <div class="page-name small-font">Sales</div>
                        </div>
                    </a>
                    <a class="page-link btn" href="/dashboard/production/">
                        <div class="sidebar-tab" id="go-to-production-btn">
                            <ion-icon class="sidebar-icon" name="fast-food"></ion-icon> 
                            <div class="page-name small-font">Production</div>
                        </div>
                    </a>
                    <a class="page-link btn" href="/dashboard/profit-tracker/">
                        <div class="sidebar-tab" id="go-to-profit-tracker-btn">
                            <ion-icon class="sidebar-icon" name="bar-chart"></ion-icon>
                            <div class="page-name small-font" id="profit-tracker">Profit Tracker</div>
                        </div>
                    </a>
                    <button class="fill dynamic-btn btn" id="optimize-profit-btn">Optimize Profit</button>
                {% endblock %}
            </div>
        </div>

        <br>
        <br>
        
        
        {% block add-record %}{% endblock %}
        
        {% block edit-record %}{% endblock %}

        {% block delete-record %}{% endblock %}

        <div class="page-content" id="page-content-container">
            {% block page-content %}{% endblock %}
        </div>
    </div>

    <script type="text/javascript">
        var page = "{{ page|safe }}";
        var prompt = "{{ prompt|safe }}";
    </script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>