{% extends "base.html" %}

{% block title %}<title>Dashboard - Profitify</title>{% endblock %}

{% block page-content %}
    <div class="page-title">
        Dashboard
    </div>
    <div class="left-text dark-font large-font text">
        Hi, {{ full_name|safe }}.
    </div>
    <div class="success prompt full-width center text" id="successful-ingredient-import-prompt">
        Inventory file Uploaded!
    </div>
    <div class="success prompt full-width center text" id="successful-product-import-prompt">
        Products file uploaded!
    </div>
    <div class="success prompt full-width center text" id="successful-sales-import-prompt">
        Sales file Uploaded!
    </div>
    <div class="success prompt full-width center text" id="successful-production-import-prompt">
        Production file uploaded!
    </div>

    <div class="error prompt full-width" id="unsuccessful-ingredient-import-prompt">
        Inventory file upload unsuccessful, file extenstion must be .csv.
    </div>
    <div class="error prompt full-width" id="unsuccessful-product-import-prompt">
        Products file upload unsuccessful, file extenstion must be .csv.
    </div>
    <div class="error prompt full-width" id="unsuccessful-sales-import-prompt">
        Sales file upload unsuccessful, file extenstion must be .csv.
    </div>
    <div class="error prompt full-width" id="unsuccessful-production-import-prompt">
        Production file upload unsuccessful, file extenstion must be .csv.
    </div>
    <br>
    <div class="dashboard-container">
        
        <div class="one-fourth block default-font">
            <a class="page-link btn" href="/dashboard/products/">
                <div class="block-inner">
                    <div class="xsmall-font"> Number of Products </div>
                    <div class="numbers"> {{ num_products|safe }} </div>
                </div>
            </a>
        </div>
        
        <div class="one-fourth block default-font small-font">
            <a class="page-link btn" href="/dashboard/inventory/">
                <div class="block-inner">
                    <div class="xsmall-font"> Number of Inventory Items </div>
                    <div class="numbers"> {{ num_ingredients|safe }} </div>
                </div>
            </a>
        </div>

        <div class="one-fourth block default-font small-font">
            <a class="page-link btn" href="/dashboard/sales/">
                <div class="block-inner">
                    <div class="xsmall-font"> Average Profit </div>
                    <div class="numbers"> PhP {{ avg_profit|safe }} </div>
                </div>
            </a>
        </div>

        <div class="one-fourth block default-font small-font">
            <a class="page-link btn" href="/dashboard/production/">
                <div class="block-inner">
                    <div class="xsmall-font"> Average Expenses  </div>
                    <div class="numbers"> PhP {{ avg_expenses|safe }} </div>
                </div>
            </a>
        </div>

        <div class="two-thirds block default-font small-font">
            <a class="page-link btn" href="/dashboard/profit-tracker/">
                <div class="block-inner">
                    <div class="xsmall-font"> Profit Chart </div>
                </div>
            </a>
        </div>
        
        <div class="one-third block default-font">
            <a class="page-link btn" href="/dashboard/production/">
                <div class="block-inner">
                    <div class="xsmall-font"> Optimal Production </div>
                    <br>
                    <div class="table-container">
                        <table class="data-table" id="optimizer-result-table">
                            <tr class="optimal-table-row">
                                <th class="record-name optimal-table-header"> Product </th> 
                                <th class="record-price optimal-table-header"> Quantity </th> 
                            </tr>
                        </table>
                    </div>
                </div>
            </a>
        </div>

    </div>
{% endblock %}