{% extends "base.html" %}

{% block title %}<title>Dashboard - Profitify</title>{% endblock %}

{% block page-content %}
    <div class="page-title">
        Dashboard
    </div>
    <div class="left-text dark-font large-font text">
        Hi, {{ full_name|safe }}.
    </div>
    <div class="success prompt full-width center text" id="successful-ingredient-import-prompt">
        Inventory file Uploaded!
    </div>
    <div class="success prompt full-width center text" id="successful-product-import-prompt">
        Products file uploaded!
    </div>
    <div class="success prompt full-width center text" id="successful-sales-import-prompt">
        Sales file Uploaded!
    </div>
    <div class="success prompt full-width center text" id="successful-production-import-prompt">
        Production file uploaded!
    </div>

    <div class="error prompt full-width" id="unsuccessful-ingredient-import-prompt">
        Inventory file upload unsuccessful, file extenstion must be .csv.
    </div>
    <div class="error prompt full-width" id="unsuccessful-product-import-prompt">
        Products file upload unsuccessful, file extenstion must be .csv.
    </div>
    <div class="error prompt full-width" id="unsuccessful-sales-import-prompt">
        Sales file upload unsuccessful, file extenstion must be .csv.
    </div>
    <div class="error prompt full-width" id="unsuccessful-production-import-prompt">
        Production file upload unsuccessful, file extenstion must be .csv.
    </div>
    <br>
    <div class="dashboard-container">
    
        <div class="one-fourth block default-font">
            <span class="xsmall-font"> Number of Products </span>
            <
        </div>

        <div class="one-fourth block default-font small-font">
            <span class="xsmall-font"> Number of Inventory Items </span>
        </div>

        <div class="one-fourth block default-font small-font">
            <span class="xsmall-font"> Average Profit </span>
        </div>

        <div class="one-fourth block default-font small-font">
            <span class="xsmall-font"> Average Expenses  </span>
        </div>

        <div class="two-thirds block default-font small-font">
            <span class="xsmall-font"> Profit Chart </span>
        </div>

        <div class="one-third block default-font">
            <span class="xsmall-font"> Optimal Production </span>
        </div>
    </div>
{% endblock %}