<!DOCTYPE html>
<html>

<head>
    <!-- header -->
    <title> Profitify: A Profit Maximization Tool </title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel = "icon" href = "{% static 'img/logo-01.png' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body id="index">

    <!-- sign up form overlaid -->
    <div id="signupoverlay" class="form overlay">
        {% block sign-up %}
        <button class="close" id="closesignup-btn"><b>&#10005</b></button>
        <form autocomplete="off" method="POST" action="/signup/">
            {% csrf_token %}
            <h2 class="form-title"> Create account </h2>
            <div class="input-box">
                <ion-icon class="form-icon" name="person"></ion-icon>
                <input class="user-info" type="text" placeholder="Full Name" name="fullname" required>
            </div>
            <div class="input-box">
                <ion-icon class="form-icon" name="at"></ion-icon>
                <input class="user-info" type="text" placeholder="Username" name="username" required>
            </div>
            <div class="input-box">
                <ion-icon class="form-icon" name="business"></ion-icon>
                <input class="user-info" type="text" placeholder="Business Name" name="bizname" required>
            </div>
            <div class="input-box">
                <ion-icon class="form-icon" name="lock-closed"></ion-icon>
                <input class="user-info" type="password" placeholder="Password" name="psw" required>
            </div>
            <div class="input-box">
                <ion-icon class="form-icon" name="lock-closed"></ion-icon>
                <input class="user-info" type="password" placeholder="Confirm Password" name="confirmpsw" required>
            </div>
            <div class="error-container" id="username-taken-container">Username already taken.</div>
            <div class="error-container" id="passwords-mismatch-container">Passwords don't match.</div>
            <input class="submit dynamic-btn btn" type="submit" name="signup-btn" value="Sign Up">
        </form>

        <p class="small-text bottom"> Already have an account? <a class="link" href="javascript:void(0)" id="gotosignin-btn"> Sign in. </a> </p>
        {% endblock %}
    </div>

    <!-- sign in form overlaid -->
    <div id="signinoverlay" class="form overlay">
        {% block sign-in %}
        <button class="close" id="closesignin-btn"><b>&#10005</b></button>
        <form autocomplete="off" method="POST" action="/signin/">
            {% csrf_token %}
            <h2 class="form-title"> Sign in </h2>
            <div class="input-box">
                <ion-icon class="form-icon" name="at"></ion-icon>
                <input class="user-info" type="text" placeholder="Username" name="username" required>
            </div>
            <div class="input-box">
                <ion-icon class="form-icon" name="lock-closed"></ion-icon>
                <input class="user-info" type="password" placeholder="Password" name="psw" required>
            </div>
            <div class="error-container" id="login-fail-container">Invalid username or password.</div>
            <input class="submit dynamic-btn btn" type="submit" name="signin-btn" value="Sign In">
        </form>
        
        <p class="small-text bottom"> Don't have an account? <a class="link" href="javascript:void(0)" id="gotosignup-btn"> Sign up. </a> </p>
        {% endblock %}
    </div>

    <div class="main-box">
        <h1 class="title-font"> Profitify </h1>
        <p class="description"> A profit maximization tool that helps business owners maximize their profits and track their business performance. </p>

        <br>
        <!-- sign up and sign in buttons -->
        <div id="signin-signup">
            <button class="fill medium-btn btn" id="opensignup-btn"> Sign Up </button>
            <br>
            <button class="outline medium-btn btn" id="opensignin-btn"> Sign In </button>
        </div>
    </div>


    <!-- ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- javascript -->
    <script> 
        var authError = "{{ auth_error|safe }}";
    </script>
    <script src="{% static 'js/index.js' %}"></script>

</body>

</html>