{% extends "base.html" %}

{% block title %}<title>Profitify: Inventory</title>{% endblock %}

{% block add-record %}
<div class="add-record overlay" id="add-ingredient-overlay">
    <button class="close x" id="close-import"><b>&#10005</b></button>
    <div class="import-inner">
        <form autocomplete="off" method="POST">
            {% csrf_token %}
            <div class="record-title">
                Add New InventoryRecord
            </div>
            <div class="record-field">
                <br>
                Ingredient Name
                <div class="string-input-size input-box">
                    <input type="text" class="string-input move" name="new-ingredient-name">
                </div>
            </div>
            <div class="record-field">
                Unit Cost
                <div class="int-input-size input-box">
                    <input type="number" step= "any" class="int-input move" name="new-ingredient-cost">
                </div>
            </div>
            <div class="record-field">
                Total Units
                <div class="int-input-size input-box">
                    <input type="number" class="int-input move" name="new-total-units">
                </div>
            </div>
            <div class="record-field">
                Daily Units
                <div class="int-input-size input-box">
                    <input type="number" class="int-input move" name="new-daily-units">
                </div>
            </div>
            <br>
            <div class="centered-text">
            <input type="submit" value="Submit" class="fill small-btn btn" name="add-ingredient-btn">
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block edit-record %}
<div class="edit-record overlay" id="edit-ingredient-overlay">
    <button class="close x" id="close-import"><b>&#10005</b></button>
    <div class="import-inner">
        <form autocomplete="off" method="POST">
            {% csrf_token %}
            <input type="text" class="hidden" name="edit-ingredient-record-id" id="edit-ingredient-record-id">
            <div class="record-title" id="edit-ingredient-text">
            </div>
            <div class="record-field">
                <br>
                Ingredient Name
                <div class="string-input-size input-box">
                    <input type="text" class="string-input move" name="edit-ingredient-name" id="edit-ingredient-name">
                </div>
            </div>
            <div class="record-field">
                Unit Cost
                <div class="int-input-size input-box">
                    <input type="number" step="any" class="int-input move" name="edit-ingredient-cost" id="edit-ingredient-cost">
                </div>
            </div>
            <div class="record-field">
                Total Units
                <div class="int-input-size input-box">
                    <input type="number" class="int-input move" name="edit-ingredient-total-units" id="edit-ingredient-total-units">
                </div>
            </div>
            <div class="record-field">
                Daily Units
                <div class="int-input-size input-box">
                    <input type="number" class="int-input move" name="edit-ingredient-daily-units" id="edit-ingredient-daily-units">
                </div>
            </div>
            <br>
            <div class="centered-text">
            <input type="submit" value="Submit" class=" fill small-btn btn" name="edit-ingredient-btn">
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block delete-record %}
<div class="delete-record overlay" id="delete-ingredient-overlay">
    <div class="import-inner centered-text">
        <div class="page-name" id="delete-ingredient-text">
        </div>
        <form autocomplete="off" method="POST">
            <br>
            {% csrf_token %}
            <input type="text" class="hidden" name="delete-ingredient-record-id" id="delete-ingredient-record-id">
            <input type="submit" value="Yes" class="fill small-btn btn" name="delete-ingredient-btn">
            <input type="submit" value="Cancel" class="outline small-btn btn close">
        </form>
    </div>
</div>
{% endblock %}

{% block page-content %}
    <div class="page-title">
        Inventory
        <input type="button" class="fill small-btn rightmost btn" value="+ Add new record" id="ingr-overlay-btn">
    </div>
    <div class="success prompt full-width center text" id="successful-ingredient-add-prompt">
        IngredientRecord added!
    </div>
    <div class="success prompt full-width text" id="successful-ingredient-edit-prompt">
        IngredientRecord edited!
    </div>
    <div class="success prompt full-width text" id="successful-ingredient-delete-prompt">
        IngredientRecord deleted!
    </div>
    <br>
    <div class="table-container">
        <table class="data-table">
            <tr class="data-table-row">
                <th class="record-id data-table-header"> ID </th>
                <th class="record-name data-table-header"> Ingredient Name </th>
                <th class="record-price data-table-header"> Unit Cost </th>
                <th class="record-price data-table-header"> Total Units </th>
                <th class="record-price data-table-header"> Daily Units </th>
                <th class="record-btns data-table-header">  </th>
            </tr>
            {% for ingredient in inventory_data %}
            <tr class="ingredient-record data-table-row" id="ingredient-record-{{ ingredient.id }}">
                <td class="record-id data-table-cell"> {{ ingredient.id}} </td>
                <td class="data-table-cell"> {{ ingredient.ingredient_name }} </td>
                <td class="data-table-cell"> {{ ingredient.cost }} </td>
                <td class="data-table-cell"> {{ ingredient.units }} </td>
                <td class="data-table-cell"> {{ ingredient.daily_units }} </td>
                <td class="record-btns data-table-cell">
                    <ion-icon class="record-icon btn edit-ingredient" name="pencil"></ion-icon>
                    <ion-icon class="record-icon btn delete-ingredient" name="trash"></ion-icon>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}