{% extends "base.html" %}

{% block title %}<title>Profitify: Products</title>{% endblock %}

{% block add-record %}
<table class="hidden">
    <tr class="name-qty-input-row">
        <td>
            <select class="name-input-row-select input-box string-input">
            {% for ingredient in inventory_data %}
                <option class="name-input-row-option" value="{{ ingredient.ingredient_name }}">{{ ingredient.ingredient_name }}</option>
            {% endfor %}
            </select>
        </td>
        <td>
           <div class="record-field">
                <div class="int-input-size input-box">
                    <input type="number" class="int-input move" required>
                </div>
            </div>
        </td>
        <td>
            <ion-icon class="record-icon btn delete-name-qty-input-row" name="trash"></ion-icon>
        </td>
    </tr>
</table>

<div class="add-record overlay" id="add-product-overlay">
    <button class="close x" id="close-import"><b>&#10005</b></button>
    <div class="record-container">
        <form autocomplete="off" method="POST">
            {% csrf_token %}
            <div class="record-title">
                Add new ProductRecord
            </div>
            <div class="record-field">
                <br>
                Name
                <div class="string-input-size input-box">
                    <input type="text" class="string-input move" name="new-product-name">
                </div>
            </div>
        <div class="record-field">
                Ingredients
                <table class="name-qty-input-table" id="add-overlay-name-qty-input-table">
                    <tr id="name-qty-input-table-header">
                        <td>Ingredient Name</td>
                        <td>Quantity</td>
                        <td></td>
                    </tr>
                </table>
                <input type="button" class="fill small-btn rightmost btn add-name-qty-input-row" value="+ Add ingredient">
            </div>
            <br>
            <div class="record-field">
                Price
                <div class="int-input-size input-box">
                    <input type="number" class="int-input move" name="new-product-price">
                </div>
            </div>
            <br>
            <div class="centered-text">
            <input type="submit" value="Save" class="fill small-btn btn" name="add-product-btn">
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block edit-record %}
<div class="edit-record overlay" id="edit-product-overlay">
    <button class="close x" id="close-import"><b>&#10005</b></button>
    <div class="record-container">
        <form autocomplete="off" method="POST">
            {% csrf_token %}
            <input type="text" class="hidden" name="edit-product-record-id" id="edit-product-record-id">
            <div class="record-title" id="edit-product-text">
            </div>
            <br>
            <div class="record-field">
                Name
                <div class="string-input-size input-box">
                    <input type="text" class="string-input move" name="edit-product-name" id="edit-product-name">
                </div>
            </div>
            <div class="record-field">
                Ingredients
                <table class="name-qty-input-table" id="edit-overlay-name-qty-input-table">
                    <tr id="name-qty-input-table-header">
                        <td>Ingredient Name</td>
                        <td>Quantity</td>
                        <td></td>
                    </tr>
                </table>
                <input type="button" class="fill small-btn rightmost btn add-name-qty-input-row" value="+ Add ingredient">
            </div>
            <br>
            <div class="record-field">
                Price
                <div class="int-input-size input-box">
                    <input type="number" step="any" class="int-input move" name="edit-product-price" id="edit-product-price">
                </div>
            </div>
            <br>
            <div class="centered-text">
            <input type="submit" value="Save" class="fill small-btn btn" name="edit-product-btn">
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block delete-record %}
<div class="delete-record overlay" id="delete-product-overlay">
    <div class="import-inner centered-text">
        <div class="page-name bold" id="delete-product-text">
        </div>
        
        <form autocomplete="off" method="POST">
            <br>
            {% csrf_token %}
            <input type="text" class="hidden" name="delete-product-record-id" id="delete-product-record-id">
            <input type="submit" value="Yes" class="fill small-btn btn" name="delete-product-btn">
            <input type="submit" value="Cancel" class="outline small-btn btn close">
        </form>
    </div>
</div>
{% endblock %}

{% block page-content %}
    <div class="page-title">
        Products
        <input type="button" class="fill small-btn rightmost btn" value="+ Add new record" id="product-overlay-btn">
    </div>
    <div class="success prompt full-width center text" id="successful-product-add-prompt">
        ProductRecord added!
    </div>
    <div class="success prompt full-width text" id="successful-product-edit-prompt">
        ProductRecord edited!
    </div>
    <div class="success prompt full-width text" id="successful-product-delete-prompt">
        ProductRecord deleted!
    </div>
    <div class="error prompt full-width text" id="invalid-product-ingredients-input">
        Invalid ingredients input. Input should be in JSON format.
    </div>
    <br>
    <div class="string-input-size search input-box">
        <input type="text" class="string-input move" placeholder="Search product name">
    </div>
    <div class="table-container">
        <table class="data-table">
            <tr class="data-table-row">
                <th class="record-id data-table-header"> ID </th> 
                <th class="record-name data-table-header"> Product Name </th> 
                <th class="record-items data-table-header"> Ingredients/Materials </th> 
                <th class="record-price data-table-header"> Cost </th>
                <th class="record-price data-table-header"> Price </th>
                <th class="record-btns data-table-header">  </th>
            </tr>
            {% for product in products_data %}
            <tr class="product-record data-table-row" id="product-record-{{ product.id }}">
                <td class="record-id data-table-cell"> {{ product.id }} </td>
                <td class="record-name data-table-cell"> {{ product.product_name }} </td>
                
                <td class="data-table-cell">
                {% for ingr, quantity in product.ingredients.items %}
                    {{ ingr }} ({{ quantity }} units) <br>
                {% endfor %}
                </td>
                
                <td class="data-table-cell"> {{ product.cost }} </td>
                <td> {{ product.price }} </td>

                <input type="text" class="hidden" value="{{ product.ingredients }}" id="product-{{ product.id }}-ingredients">
                
                <td class="record-btns data-table-cell">
                    <ion-icon class="record-icon btn edit-product" name="pencil"></ion-icon>
                    <ion-icon class="record-icon btn delete-product" name="trash"></ion-icon>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}