{% extends "base.html" %}

{% block title %}<title>Profitify: Production</title>{% endblock %}

{% block add-record %}
<table class="hidden">
    <tr class="name-qty-input-row">
        <td>
            <select class="name-input-row-select input-box string-input">
            {% for product in products_data %}
                <option class="name-input-row-option" value="{{ product.product_name }}">{{ product.product_name }}</option>
            {% endfor %}
            </select>
        </td>
        <td>
           <div class="record-field">
                <div class="int-input-size input-box">
                    <input type="number" class="int-input move" required>
                </div>
            </div>
        </td>
        <td>
            <ion-icon class="record-icon btn delete-name-qty-input-row" name="trash"></ion-icon>
        </td>
    </tr>
</table>
<div class="add-record overlay" id="add-production-overlay">
    <button class="close x" id="close-import"><b>&#10005</b></button>
    <div class="record-container">
        <form autocomplete="off" method="POST">
            {% csrf_token %}
            <div class="record-title">
                Add new ProductionRecord
            </div>
            <div class="record-field">
                <br>
                Date
                <div class="string-input-size input-box">
                    <input type="date" class="string-input move" name="new-production-record-date" id="new-production-record-date">
                </div>
            </div>
            <div class="record-field">
                Production Report
                <table class="name-qty-input-table" id="add-overlay-name-qty-input-table">
                    <tr id="name-qty-input-table-header">
                        <td>Product Name</td>
                        <td>Quantity</td>
                        <td></td>
                    </tr>
                </table>
                <input type="button" class="fill small-btn rightmost btn add-name-qty-input-row" value="+ Add product">
            </div>
            <br>
            <br>
            <div class="centered-text">
                <input type="submit" value="Save" class="fill small-btn btn" name="add-production-btn">
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block edit-record %}
<div class="edit-record overlay" id="edit-production-overlay">
    <button class="close x" id="close-import"><b>&#10005</b></button>
    <div class="record-container">
        <form autocomplete="off" method="POST">
            {% csrf_token %}
            <input type="text" class="hidden" name="edit-production-record-id" id="edit-production-record-id">
            <div class="record-title" id="edit-production-text"></div>
            <div class="record-field">
                <br>
                Date
                <div class="string-input-size input-box">
                    <input type="date" class="string-input move" name="edit-production-record-date" id="edit-production-record-date">
                </div>
            </div>
            <div class="record-field">
                Production Report
                <table class="name-qty-input-table" id="edit-overlay-name-qty-input-table">
                    <tr id="name-qty-input-table-header">
                        <td>Product Name</td>
                        <td>Quantity</td>
                        <td></td>
                    </tr>
                </table>
                <input type="button" class="fill small-btn rightmost btn add-name-qty-input-row" value="+ Add product">
            </div>
            <br>
            <div class="centered-text">
            <input type="submit" value="Save" class="fill small-btn btn" name="edit-production-btn">
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block delete-record %}
<div class="delete-record overlay" id="delete-production-overlay">
    <div class="import-inner centered-text">
        <div class="page-name bold" id="delete-production-text"></div>
        
        <form autocomplete="off" method="POST">
            <br>
            {% csrf_token %}
            <input type="text" class="hidden" name="delete-production-record-id" id="delete-production-record-id">
            <input type="submit" value="Yes" class="fill small-btn btn" name="delete-production-btn">
            <input type="submit" value="Cancel" class="outline small-btn btn close">
        </form>
    </div>
</div>
{% endblock %}

{% block page-content %}
    
    <!-- Page title and search bar -->
    <div class="page-title-container">
        <div class="page-title"> Production </div>
        <input type="button" class="fill small-btn rightmost btn" value="+ Add new record" id="production-overlay-btn">
    </div>
    
    <div class="string-input-size search input-box">
        <ion-icon class="form-icon" name="search"></ion-icon>
        <input type="text" class="string-input move" id="search-table" placeholder="Search production date">
    </div>

    <!-- Prompts -->
    <div class="success prompt" id="successful-production-add-prompt">
        <p class="prompt-title"> Success! </p>
        <p class="prompt-text"> Production record has been successfully added. </p>
    </div>
    <div class="success prompt" id="successful-production-edit-prompt">
        <p class="prompt-title"> Success! </p>
        <p class="prompt-text"> Production record has been successfully edited. </p>
    </div>
    <div class="success prompt" id="successful-production-delete-prompt">
        <p class="prompt-title"> Success! </p>
        <p class="prompt-text"> Production record has been successfully deleted. </p>
    </div>
    <div class="error prompt" id="invalid-production-edit-input">
        <p class="prompt-title"> Error! </p>
        <p class="prompt-text"> Invalid production record input. Record not added. </p>
    </div>
    <div class="error prompt" id="invalid-production-add-input">
        <p class="prompt-title"> Error! </p>
        <p class="prompt-text"> Invalid production record input. Changes not saved. </p>
    </div>

    <!-- Table -->
    <div class="table-container">
        <table class="data-table">
            <tr class="data-table-row">
                <th class="record-id data-table-header"> ID </th> 
                <th class="record-name data-table-header search-key"> Date </th> 
                <th class="record-items data-table-header"> Production Report </th> 
                <th class="record-price data-table-header"> Expenses </th>
                <th class="record-btns data-table-header">  </th>
            </tr>
            {% for record in production_data %}
            <tr class="production-record data-table-row" id="production-record-{{ record.id }}">
                <td class="record-id data-table-cell"> {{ record.id }} </td>
                <td class="record-name data-table-cell search-key"> {{ record.date }} </td>
                <td class="data-table-cell">
                {% for product, quantity in record.production_report.items %}
                    {{ product }} ({{ quantity }} units) <br>
                {% endfor %}
                </td>
                
                <td class="data-table-cell"> {{ record.expenses }} </td>

                <input type="text" class="hidden" value="{{ record.production_report }}" id="production-report-{{ record.id }}">
                
                <td class="record-btns data-table-cell">
                    <span class="record-icon btn edit-production"> <ion-icon name="pencil"></ion-icon> </span>
                    <span class="record-icon btn delete-production"> <ion-icon name="trash"></ion-icon> </span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}