{% extends "base.html" %}

{% block title %}<title>Profitify: Products</title>{% endblock %}

{% block page-content %}
    <div class="left-text dark-font xlarge-font bold text">
        PRODUCTS
    </div>
    <div class="table-container">
        <table class="data-table dark-font large-font centered-text text">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    NAME
                </th>
                <th>
                    INGREDIENTS/MATERIALS
                </th>
                <th>
                    COST
                </th>
                <th>
                    PRICE
                </th>
            </tr>
            {% for product in products_data %}
            <tr>
                <td>
                    {{ product.id}}
                </td>
                <td>
                    {{ product.productName }}
                </td>
                <td>
                {% for ingr in product.ingredients %}
                    {{ ingr }},
                {% endfor %}
                </td>
                
                <td>
                    {{ product.cost }}
                </td>
                <td>
                    {{ product.price }}
                </td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}