{% extends "base.html" %}

{% block title %}<title>Profitify: Profile</title>{% endblock %}

{% block page-content %}
    <div class="page-title">
        Edit Profile
    </div>
    <br>

    <div>
        <div>
            <div class="success prompt input-width text" id="saved-profile-prompt">
                Saved!
            </div>
            <div class="one-third">
                <form autocomplete="off" method="POST">
                    {% csrf_token %}
                    <div class="left-text dark-font large-font bold text">
                        Account Information
                    </div>
                    <br>
                    <div class="small-font left-text dark-font text">
                        Full Name
                        <div class="string-input-size input-box">
                            <ion-icon class="form-icon" name="person"></ion-icon>
                            <input class="user-info" type="text" value="{{ full_name|safe}}" name="new-full-name">
                        </div>
                    </div>
                    <div class="small-font left-text dark-font text">
                        Business Name
                        <div class="string-input-size input-box">
                            <ion-icon class="form-icon" name="business"></ion-icon>
                            <input class="user-info" type="text" value="{{ business_name|safe}}" name="new-business-name">
                        </div>
                    </div>
                    <br>
                    <input type="submit" class="fill small-btn btn" value="Save changes" name="save-btn" >
                </form>
            </div>
        </div>
    </div>
{% endblock %}