{% extends "base.html" %}

{% block title %}<title>Profitify: Profit Tracker</title>{% endblock %}

{% block page-content %}
    <div class="page-title">
        Profit Tracker
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        $(document).ready(function(){
            var ctx = document.getElementById('profitTracker').getContext('2d');
            Chart.defaults.font.size = 12;
            Chart.defaults.font.family = "'Inter', sans-serif";
            var profitTracker = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{%for sales in sales_data%}'{{sales.date}}',{%endfor%}], 
                    datasets: [
                        {
                        label: "Profit per day",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(255, 255, 255, 1)",
                        borderColor: "#ff5c8d",
                        data: [{%for sales in sales_data%}'{{sales.profit}}',{%endfor%}],
                        },
                        {
                        label: "Revenue per day",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(255, 255, 255, 1)",
                        borderColor: "#524a4e",
                        data: [{%for sales in sales_data%}'{{sales.revenue}}',{%endfor%}]
                        },
                    ]
                    
                },
                options: {
                    legend: {display: false},
                    scales: {}
                    }
        });
            });
    </script>
    <canvas id="profitTracker" width="400" height="150"></canvas> 
{% endblock %}