{% extends "base.html" %}

{% block title %}<title>Profitify: Profile</title>{% endblock %}

{% block page-content %}
    <div class="left dark-font bold default-font big-font text">
        EDIT PROFILE
    </div>
    <br>
    <div class="success prompt small-font dark-font default-font" id="saved-profile-prompt">
        SAVED!
    </div>
    <div>
        <div>
            <form autocomplete="off" method="POST">
                {% csrf_token %}
                <div class="left dark-font bold default-font medium-font text">
                    ACCOUNT INFORMATION
                </div>
                <div class="left dark-font default-font medium-font text">
                    Full Name
                    <div>
                        <input class="input-text dark-font medium-font default-font" type="text" value="{{ full_name|safe}}" name="new-full-name">
                    </div>
                </div>
                <div class="left dark-font default-font medium-font text">
                    Business Name
                    <div>
                        <input class="input-text dark-font medium-font default-font" type="text" value="{{ business_name|safe}}" name="new-business-name">
                    </div>
                </div>
                <br>
                <input type="submit" class="dark-btn btn-font btn left" value="SAVE" name="save-btn" >
            </form>
            

        </div>
    </div>
{% endblock %}