{% extends "base.html" %}

{% block title %}<title>Profitify: Sales</title>{% endblock %}

{% block add-record %}
<table class="hidden">
    <tr class="name-qty-input-row">
        <td>
            <select class="name-input-row-select input-box string-input">
            {% for product in products_data %}
                <option class="name-input-row-option" value="{{ product.product_name }}">{{ product.product_name }}</option>
            {% endfor %}
            </select>
        </td>
        <td>
           <div class="record-field">
                <div class="int-input-size input-box">
                    <input type="number" class="int-input move" required>
                </div>
            </div>
        </td>
        <td>
            <ion-icon class="record-icon btn delete-name-qty-input-row" name="trash"></ion-icon>
        </td>
    </tr>
</table>
<div class="add-record overlay" id="add-sales-overlay">
    <button class="close x" id="close-import"><b>&#10005</b></button>
    <div class="record-container">
        <form autocomplete="off" method="POST">
            {% csrf_token %}
            <div class="record-title">
                Add new SalesRecord
            </div>
            <div class="record-field">
                <br>
                Date
                <div class="string-input-size input-box">
                    <input type="date" class="string-input move" id="new-sales-record-date" name="new-sales-record-date">
                </div>
            </div>
            <div class="record-field">
                Sales Report
                <table class="name-qty-input-table" id="add-overlay-name-qty-input-table">
                    <tr id="name-qty-input-table-header">
                        <td>Product Name</td>
                        <td>Quantity</td>
                        <td></td>
                    </tr>
                </table>
                <input type="button" class="fill small-btn rightmost btn add-name-qty-input-row" value="+ Add product">
            </div>
            <br>
            <br>
            <div class="centered-text">
                <input type="submit" value="Save" class="fill small-btn btn" name="add-sales-btn">
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block edit-record %}
<div class="edit-record overlay" id="edit-sales-overlay">
    <button class="close x" id="close-import"><b>&#10005</b></button>
    <div class="record-container">
        <form autocomplete="off" method="POST">
            {% csrf_token %}
            <input type="text" class="hidden" name="edit-sales-record-id" id="edit-sales-record-id">
            <div class="record-title" id="edit-sales-text"></div>
            <br>
            <div class="record-field">
                Date
                <div class="string-input-size input-box">
                    <input type="date" class="string-input move" name="edit-sales-record-date" id="edit-sales-record-date">
                </div>
            </div>
            <div class="record-field">
                Sales Report
                <table class="name-qty-input-table" id="edit-overlay-name-qty-input-table">
                    <tr id="name-qty-input-table-header">
                        <td>Product Name</td>
                        <td>Quantity</td>
                        <td></td>
                    </tr>
                </table>
                <input type="button" class="fill small-btn rightmost btn add-name-qty-input-row" value="+ Add product">
            </div>
            <br>
            <br>
            <div class="centered-text">
            <input type="submit" value="Save" class="fill small-btn btn" name="edit-sales-btn">
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block delete-record %}
<div class="delete-record overlay" id="delete-sales-overlay">
    <div class="import-inner centered-text">
        <div class="page-name bold" id="delete-sales-text"></div>
        
        <form autocomplete="off" method="POST">
            <br>
            {% csrf_token %}
            <input type="text" class="hidden" name="delete-sales-record-id" id="delete-sales-record-id">
            <input type="submit" value="Yes" class="fill small-btn btn" name="delete-sales-btn">
            <input type="submit" value="Cancel" class="outline small-btn btn close">
        </form>
    </div>
</div>
{% endblock %}

{% block page-content %}
    <div class="page-title">
        Sales
        <input type="button" class="fill small-btn rightmost btn" value="+ Add new record" id="sales-overlay-btn">
    </div>
    <div class="success prompt full-width center text" id="successful-sales-add-prompt">
        SalesRecord added!
    </div>
    <div class="success prompt full-width text" id="successful-sales-edit-prompt">
        SalesRecord edited!
    </div>
    <div class="success prompt full-width text" id="successful-sales-delete-prompt">
        SalesRecord deleted!
    </div>
    <div class="error prompt full-width text" id="invalid-sales-add-input">
        Invalid sales input. Changes not saved.
    </div>
    <div class="error prompt full-width text" id="invalid-sales-edit-input">
        Invalid sales edit. Changes not saved.
    </div>
    <br>
    <div class="string-input-size search input-box">
        <input type="text" class="string-input move" placeholder="Search sales date">
    </div>
    <div class="table-container">
        <table class="data-table">
            <tr class="data-table-row">
                <th class="record-id data-table-header"> ID </th> 
                <th class="record-name data-table-header"> Date </th> 
                <th class="record-items data-table-header"> Sales Report </th>
                <th class="record-revenue data-table-header"> Revenue </th> 
                <th class="record-price data-table-header"> Profit </th>
                <th class="record-btns data-table-header">  </th>
            </tr>
            {% for record in sales_data %}
            <tr class="sales-record data-table-row" id="sales-record-{{ record.id }}">
                <td class="record-id data-table-cell"> {{ record.id }} </td>
                <td class="record-name data-table-cell"> {{ record.date }} </td>
                <td class="data-table-cell">
                {% for product, quantity in record.sales_report.items %}
                    {{ product }} ({{ quantity }} units) <br>
                {% endfor %}
                </td>
                <td class="record-revenue data-table-cell"> {{ record.revenue }}</td>
                <td class="record-profit data-table-cell"> {{ record.profit }}</td>

                <input type="text" class="hidden" value="{{ record.sales_report }}" id="sales-report-{{ record.id }}">
                
                <td class="record-btns data-table-cell">
                    <ion-icon class="record-icon btn edit-sales" name="pencil"></ion-icon>
                    <ion-icon class="record-icon btn delete-sales" name="trash"></ion-icon>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}